   body {
      margin-top: 1.0em;
      background-color: #203E6C;
      font-family: monospace;
      color: #ffffff;
      line-height: 150%;
    }
    #container {
      margin: 0 auto;
      width: 700px;
    }
    h1 { font-size: 3.8em; margin-bottom: 3px; }
    h1 .small { font-size: 0.4em; }
    h1 a { text-decoration: none }
    h2 { font-size: 1.5em; }
    h3 { text-align: left; margin-left: 10px }
    a { color: #f4cbbc; text-decoration: none; }
    a:hover { color: #f4cbbc; text-decoration: underline; }
    .description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
    .download { float: right; }
    .text { margin-left: 20px }
    pre { background: #000; color: #fff; padding: 15px;}
    hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
    .footer { text-align:center; padding-top:30px; font-style: italic; }
    summary:hover { color: #f4bfae; text-decoration: underline; }
